.header {
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(116, 9, 121, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(116, 9, 121, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(116, 9, 121, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);

  @apply p-3;
}

.list {
  @apply flex justify-between items-center px-[6px];
}

.icon {
  @apply cursor-pointer invisible w-[30px] h-[30px];
}

.logo {
  @apply text-white text-2xl uppercase font-medium mx-auto;
}

@media (min-width: 768px) {
  .icon {
    @apply visible;
  }
}
