.wrap {
  @apply min-w-[255px] max-w-[255px] grid;
  grid-template-rows: 1.5fr 0.2fr 1fr 0.1fr;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.27);
}

.list {
  @apply flex items-center justify-center gap-14;
}

.container {
  @apply grid justify-center p-5 relative;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}
.wrapImage {
  @apply w-[140px] h-[200px] relative;
}

.addToCart {
  @apply bg-black p-1 z-0 relative flex justify-center items-center gap-5;
}

.icon {
  @apply cursor-pointer;
}

.title {
  transition: color 0.3s ease;
  @apply font-semibold text-[18px] text-[#282828] mt-[3px] block mb-auto flex-grow-[23] cursor-pointer hover:text-[#4495d4];
}

.price {
  @apply text-[15px] text-[#1E1D1D];
}

.wrapTitlePrice {
  @apply flex flex-col px-[13px];
}

.wrapPrice {
  @apply flex justify-between mt-[9px] mt-auto;
}
